body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

#color{
    background: url('bg1.jpg') no-repeat center center/cover;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    padding-top:10px;
    background: url('bgimg1.avif') no-repeat center center/cover;
}

header {
    color: black;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: black;
    text-decoration: none;
}

.hero {
    background: url('bgimg.jpg') no-repeat center center/cover;
    color: black;
    text-align: center;
    padding: 5rem 0;
}

#menu {
    padding: 2rem;
    text-align: center;
}

.menu-item {
    margin: 1rem 0;
}

footer {
    background-color:lightblue;
    color: black;
    text-align: center;
    padding: 1rem;
    position:auto;
    width: 100%;
    bottom: 0;
}

#search {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input, form button {
    margin: 0.5rem 0;
}
